.Students-Attendance-page {
    display: flex;
    width: 350px;
    height: 100px;
    top: 480px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.Students-Attendance-page h2 {
    width: 250px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.div-OverAll {
    display: flex;
    width: 350px;
    height: 100px;
    top: 590px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
    background: rgba(54, 84, 134, 0.22);
}

.Over-All,
.Weekly-OverAll {
    position: absolute;
    left: 50px;
}

.Over-All h2,
.Weekly-OverAll h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.div-Weekly-OverAll {
    display: flex;
    width: 350px;
    height: 100px;
    top: 700px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.div-Weekly-OverAll:hover {
    background: rgba(54, 83, 134, 0.105);

}

.div-chooseSubject {
    width: 1000px;
    height: 50px;
}