.AddCourses-page {
    display: flex;
    width: 350px;
    height: 100px;
    top: 480px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
    background: rgba(54, 84, 134, 0.22);

}



.selectLecturer {
    width: 370px;
    height: 50px;
    margin-bottom: 20px;
    background: #dcf2f1ba;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #365486;
    cursor: default;
    padding-left: 15px;
}