.AddCourses-page {
    display: flex;
    width: 350px;
    height: 100px;
    top: 260px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
    background: rgba(54, 84, 134, 0.22);

}

.AddCourses-page h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}