.Current-Class-page {
    display: flex;
    width: 350px;
    height: 100px;
    top: 150px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
    background: rgba(54, 84, 134, 0.22);

}

.Current-Class-page h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}


.div-continer-currentclass {
    width: 73%;
    height: 900px;
    margin-bottom: 10px;
    margin-left: 400px;
    cursor: pointer;
    padding-top: 20px;
}

.selectCourse {
    width: 68%;
    height: 60px;
    font-size: 35px;
    font-weight: bold;
    background: #263658;
    border-radius: 10px;
    color: #DCF2F1;
    box-shadow: 2px 3px 3px #0f1b49;
    padding-left: 10px;
    border: none;
    margin-right: 20px;
}

.btn-Create-Lecture {
    width: 20%;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    background: #263658;
    border-radius: 10px;
    color: #DCF2F1;
    border: none;
    box-shadow: 2px 3px 3px #0f1b49;
    padding-left: 10px;
}

.selectCourse:hover,
.btn-Create-Lecture:hover {
    background: #263658ed;

}

#div-create-lecture {
    width: 35%;
    height: 350px;
    margin-left: 250px;
    margin-top: 60px;
    background: #365386e4;
    border-radius: 10px;
    position: absolute;
    padding-top: 70px;

}

#div-create-lecture input {
    width: 70%;
    height: 50px;
    background: #DCF2F1;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 70px;
    border: none;
    font-size: 25px;
    color: #365486;
    margin-bottom: 20px;
    font-weight: 700;
    cursor: default;
    padding-left: 10px;
}

#div-create-lecture div {
    margin-left: 120px;
    margin-top: 80px;
}

#div-create-lecture input::placeholder {
    color: #365486;
}

.div-QRcode {
    width: 90%;
    height: 70px;
    background: #47709A;
    border-radius: 10px;

}

.div-QRcode:hover,
.attendList:hover,
.attendList-after:hover {
    background: #47719ad6;

}

.div-QRcode h3,
.attendList h3,
.attendList-after h3 {
    width: 220px;
    height: 45px;
    padding: 15px;
    margin-left: 50px;
    color: #DCF2F1;
    font-size: 30px;
    font-weight: 800;
    word-wrap: break-word
}

.attendList {
    width: 90%;
    height: 70px;
    background: #47709A;
    border-radius: 10px;
}

.attendList-after {
    width: 90%;
    height: 70px;
    margin-top: -15px;
    background: #47709A;
    border-radius: 10px;
}


.generQR {
    width: 90%;
    height: 150px;
    margin-top: 0px;
    background: rgba(220, 242, 241, 0.57);
    border-radius: 10px
}

#div-QRimg {
    width: 1000px;
    height: 800px;
    background: #47719af3;
    position: absolute;
    border-radius: 10px;
    margin-top: -70px;
}

#div-QRimg img {
    width: 650px;
    height: 650px;
    margin-left: 170px;
    margin-top: 50px;
}

.btn-Close {
    position: absolute;
    margin-top: 730px;
    margin-left: -400px;
    width: 120px;
    height: 40px;
    background: #1D2649;
    color: #DCF2F1;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.btn-Close:hover {
    background: #C80B0B;
}

.btn-genrat {
    width: 350px;
    height: 60px;
    background: #263658;
    border-radius: 30px;
    margin-left: 300px;
    margin-top: 40px;
    color: #DCF2F1;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    font-family: initial;
}

.btn-genrat:hover {
    background: #47709A;
    border: none;
    color: #263658;
}

.hide {
    display: none;
}

.div-attendList {
    width: 90%;
    height: 640px;
    margin-left: 0px;
    margin-top: 0px;
    background: rgba(220, 242, 241, 0.50);
    border-radius: 10px;

}

.div-attendList-after {
    width: 90%;
    height: 510px;
    background: rgba(220, 242, 241, 0.50);
    border-radius: 10px;

}

.btns-prs-aps {
    width: 300px;
    margin-left: 700px;
    margin-top: -65px;
    margin-bottom: 10px;
}

.btn-present {
    width: 117px;
    height: 40px;
    background: #0B6E3E;
    border-radius: 30px;
    color: #DCF2F1;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    border: none;
    margin-right: 20px;
}

.btn-absent {
    width: 117px;
    height: 40px;
    background: #C80B0B;
    border-radius: 30px;
    color: #DCF2F1;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    border: none;
    margin-right: 20px;

}

.input-search {
    width: 350px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    color: #263658;
    border: none;
    background: #DCF2F1;
    border-radius: 5px;
    font-size: 25px;
    padding-left: 10px;

}

.input-search::placeholder {
    font-size: 20px;
    color: #47709A;

}

.div-list {
    margin-left: 10px;
    margin-top: 15px;
    width: 98%;
    height: 550px;
    overflow: hidden;
    overflow-y: scroll;
}

.div-list-after {
    margin-left: 8px;
    margin-top: 15px;
    width: 98%;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;

}

.tab-attend th {
    height: 35px;
    margin-bottom: 100px;
    background: rgba(71, 112, 154, 0.40);
    color: #1D2649;
    font-size: 24px;
    font-weight: 800;

}


.tab-attend td {
    background: rgba(220, 242, 241, 0.434);
    margin-top: 50px;
    height: 35px;
    font-size: 24px;
    font-weight: 800;
    color: #205487;
    text-align: center;


}