.Assignments-page {
    background: rgba(54, 84, 134, 0.22);
    display: flex;
    width: 350px;
    height: 100px;
    top: 370px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.Assignments-page h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.div-StudentSolution {
    display: flex;
    width: 350px;
    height: 100px;
    top: 480px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.StudentSolution {
    position: absolute;
    left: 50px
}

.StudentSolution h2 {
    width: 200px;
    left: 80px;
    top: 20px;
    position: absolute;
}

.div-StudentSolution:hover {
    background: rgba(54, 83, 134, 0.105);

}

.StudentsAttendance {
    display: flex;
    width: 350px;
    height: 100px;
    top: 590px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.StudentsAttendance h2 {
    width: 350px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.StudentsAttendance:hover {
    background: rgba(54, 83, 134, 0.105);

}

.div-uploadfile {
    width: 1100px;
    height: 800px;
    background: rgba(54, 83, 134, 0.105);
    margin-left: 400px;
    margin-top: 40px;
}

.input-chooseSubject {
    width: 800px;
    height: 50px;
    margin-left: 130px;
    margin-top: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
    color: #DCF2F1;
    background: #1d2649;
}

.input-chooseSubject::placeholder {
    color: #DCF2F1;
}