.Assignments-page {
    background: rgba(54, 84, 134, 0.22);
    display: flex;
    width: 350px;
    height: 100px;
    top: 370px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.Assignments-page h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.div-StudentSolution {
    display: flex;
    width: 350px;
    height: 100px;
    top: 480px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.StudentSolution {
    position: absolute;
    left: 50px
}

.StudentSolution h2 {
    width: 200px;
    left: 80px;
    top: 20px;
    position: absolute;
}

.div-StudentSolution:hover {
    background: rgba(54, 83, 134, 0.105);

}

.StudentsAttendance {
    display: flex;
    width: 350px;
    height: 100px;
    top: 590px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.StudentsAttendance h2 {
    width: 350px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.StudentsAttendance:hover {
    background: rgba(54, 83, 134, 0.105);

}