.Lecture-Dates-page {
    display: flex;
    width: 350px;
    height: 100px;
    top: 40px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
    background: rgba(54, 84, 134, 0.22);
}

.Lecture-Dates-page h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.Current-Class {
    display: flex;
    width: 350px;
    height: 100px;
    top: 150px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.Current-Class h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.Timetable {
    display: flex;
    width: 350px;
    height: 100px;
    top: 260px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}


.Students-Attendance:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Timetable:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Current-Class:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Timetable h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.Students-Attendance {
    display: flex;
    width: 350px;
    height: 100px;
    top: 370px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;

}


.Students-Attendance h2 {
    width: 250px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.div-timetable {
    width: 820px;
    height: 910px;
    position: absolute;
    left: 390px;
    top: 90px;
    background: #9FBECF
}

.header-timetable {
    width: 820px;
    height: 80px;
    position: absolute;
    background: #273758;
}

.header-timetable h2 {
    width: 653px;
    height: 51px;
    left: 30px;
    position: absolute;
    color: #DCF2F1;
    font-size: 27px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word
}

.div-summary {
    width: 239px;
    height: 220px;
    position: absolute;
    left: 850px;
    background: #9FBECF
}

.header-summary {
    width: 239px;
    height: 54px;
    position: absolute;
    color: #DCF2F1;
    background: #273758
}

.header-summary h3 {
    width: 132px;
    height: 23px;
    color: #DCF2F1;
    position: absolute;
    left: 70px;
    bottom: 1px;
    font-size: 24px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word
}