.header {
    color: #DCF2F1;
    width: auto;
    height: 70px;
    background: rgba(15, 16, 53, 0.78);
    cursor: pointer;
}

body {
    height: 1000px;
    background: linear-gradient(220deg, #7FC7D9 20%, #365486 100%);
    margin: 0px;
    font-family: 'Inter';
}

* {
    font-family: "Inter";
}

.side-bar {
    width: 351px;
    height: 930px;
    position: absolute;
    background: #5280A6;
    color: #1D2649;
    cursor: pointer;
}

.header svg {
    position: absolute;
    left: 40px;
    top: 20px;
    color: #DCF2F1;

}

.header h4 {
    position: absolute;
    left: 650px;
    font-size: 20px;
}

.profile {
    width: 120px;
    height: 70px;
    margin-left: 1300px;
    position: absolute;
    top: 1px;
    cursor: pointer;

}


.profile-picture img {
    position: absolute;
    top: 4px;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    border-radius: 200px;
}

.profile-picture h3 {
    margin-left: 8px;
    margin-top: 12px;
}

.profile-name {
    width: 90px;
    height: 50px;
    color: #DCF2F1;
    font-size: 20px;
    font-weight: 600;
    margin-left: 90px;
    padding-top: 10px;
    text-transform: uppercase;


}



.side-bar #time {
    position: absolute;
    top: 25px;
    left: 15px;
    width: 50px;
    height: 65px;
    color: #1D2649
}

.Lecture-Dates {
    display: flex;
    width: 350px;
    height: 100px;
    top: 40px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

* {
    font-family: 'Inter';
}

.Lecture-Dates h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.Current-Class {
    display: flex;
    width: 350px;
    height: 100px;
    top: 150px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.Current-Class h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.Students-Attendance:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Lecture-Dates:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Current-Class:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Assignments:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Timetable:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Timetable {
    display: flex;
    width: 350px;
    height: 100px;
    top: 260px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.Timetable h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.Assignments {
    display: flex;
    width: 350px;
    height: 100px;
    top: 370px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.Assignments h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.Students-Attendance {
    display: flex;
    width: 350px;
    height: 100px;
    top: 480px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;

}

.Students-Attendance h2 {
    width: 250px;
    left: 100px;
    top: 20px;
    position: absolute;
}