body {
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, #7FC7D9 0%, #365486 100%);
    margin: 0px;
}

* {
    font-family: "Inter";
    font-weight: bold;
}

.side-bar {
    width: 351px;
    height: 930px;
    position: absolute;
    background: #5280A6;
    color: #1D2649;
    cursor: pointer;
}

.side-bar h2 {
    width: 220px;
    left: 100px;
    top: 20px;
    position: absolute;

}



.side-bar #time {
    position: absolute;
    top: 25px;
    left: 15px;
    width: 50px;
    height: 65px;
    color: #1D2649
}

.Dashboard {
    display: flex;
    width: 350px;
    height: 100px;
    top: 40px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

* {
    font-family: 'Inter';
}



.Current-Class {
    display: flex;
    width: 350px;
    height: 100px;
    top: 150px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}



.Students-Attendance:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Dashboard:hover,
.Current-Class:hover,
.Timetable:hover,
.AddCourses:hover,
.CreateLecturer:hover,
.CreateStudent:hover,
.AllLecturers:hover,
.AllStudents:hover {
    background: rgba(54, 83, 134, 0.105);

}


.Timetable {
    display: flex;
    width: 350px;
    height: 100px;
    top: 260px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}


.Students-Attendance {
    display: flex;
    width: 350px;
    height: 100px;
    top: 370px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}




.CreateLecturer {
    display: flex;
    width: 350px;
    height: 100px;
    top: 40px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.AllLecturers {
    display: flex;
    width: 350px;
    height: 100px;
    top: 150px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}


.CreateStudent {
    display: flex;
    width: 350px;
    height: 100px;
    top: 260px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.AllStudents {
    display: flex;
    width: 350px;
    height: 100px;
    top: 370px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.AddCourses {
    display: flex;
    width: 350px;
    height: 100px;
    top: 480px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.AllCourses {
    display: flex;
    width: 350px;
    height: 100px;
    top: 590px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}