.Timetable-page {
    display: flex;
    width: 350px;
    height: 100px;
    top: 260px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
    background: rgba(54, 84, 134, 0.22);

}

.Timetable-page h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}


.div-courses {
    display: flex;
    margin-top: 30px;
    width: 1140px;
    height: 800px;
    margin-left: 370px;
    align-items: baseline;
    justify-content: center;
    align-items: center;

}

.add-course {
    width: 550px;
    height: 768px;
    background: #5280A6;
    margin-right: 20px;


}

.edit-course {
    width: 550px;
    height: 768px;
    background: #5280A6;


}

.add-course h3,
.edit-course h3 {
    color: #1D2649;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;

}

hr {
    width: 500px;
    margin-top: -15px;
}

.input-details-course {

    margin-left: 100px;
    margin-top: 100px;
}

.input-details-course input {
    width: 350px;
    height: 50px;
    margin-bottom: 20px;
    background: #dcf2f1ba;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #365486;
    cursor: default;
    padding-left: 15px;

}

.input-details-course input::placeholder {
    margin-top: -3px;
    color: #204e9da1;
    font-size: 20px;
    font-weight: 600;
}

.div-btn-dis-conf {
    margin-top: 50px;
    padding-left: 30px;
}

.btn-confirm,
.btn-discard {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 15px;
    margin-right: 50px;
    color: #DCF2F1;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}

.btn-discard {
    background: #c80b0b96;
}

.btn-discard:hover {
    background: #c80b0bdb;
    border: none;
}

.btn-confirm {
    background: #1d2649af;

}

.btn-confirm:hover {
    background: #0f1b49;

}

.list-courses {
    margin-left: 40px;
    height: 650px;
    font-size: 25px;
    overflow: hidden;
    position: absolute;
    overflow-y: scroll;

}

.list-courses h4 {
    margin-bottom: 2px;
}

.div-course {
    background: #365386be;
    border-radius: 7px;
    width: 440px;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 10px;
    box-shadow: 2px 3px 3px #0f1b49;
    padding: 10px;
    color: #dcf2f1d3;
    font-size: '30px';
    font-weight: 700;

}

.div-course div {
    margin-left: 20px;
}