.Lecture-Dates {
    display: flex;
    width: 350px;
    height: 100px;
    top: 40px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.Lecture-Dates h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.Current-Class {
    display: flex;
    width: 350px;
    height: 100px;
    top: 150px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
}

.Current-Class h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.Timetable-page {
    display: flex;
    width: 350px;
    height: 100px;
    top: 260px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;
    background: rgba(54, 84, 134, 0.22);

}


.Students-Attendance:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Lecture-Dates:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Current-Class:hover {
    background: rgba(54, 83, 134, 0.105);

}

.Timetable-page h2 {
    width: 200px;
    left: 100px;
    top: 20px;
    position: absolute;
}

.Students-Attendance {
    display: flex;
    width: 350px;
    height: 100px;
    top: 370px;
    left: -20px;
    position: absolute;
    justify-content: space-between;
    margin: 20px 20px;

}

.Students-Attendance h2 {
    width: 500px;
    left: 100px;
    top: 20px;
    position: absolute;
}